.paragraph {
  text-align: center;
  font-family: 'Times New Roman';
  font-weight: bold;
  color: darkcyan;
}

.physiciansTable {
  border-collapse: separate;
  padding: 15px;
  font-family: 'Calibri';
  font-weight: bolder;
  color: black;
}

.physiciansTable td {
  padding: 7px;
  width: 33%;
}

.physiciansTable td p {
  text-align: center;

  font-family: 'Bell MT';
  font-size: large;
  font-weight: bold;

  color: coral;
}

.physiciansTable td div {
  text-align: justify;

  font-family: 'Times New Roman';
  font-weight: bold;
  
  color: cadetblue;
}


.formTable {
  border-collapse: separate;
  padding: 15px;

  text-align: left;
  font-family: 'Calisto MT';
  font-weight: bold;
  color: black;
}

.formTable td {
  padding: 7px;
  width: 50%;
}

.formTable td label {
  color: black;
}

.formTable td input {
  font-family: Arial;
  font-weight: normal;
}

.formTable td select {
  font-family: Arial;
  font-weight: normal;
}

.formTable td textarea {
  font-family: Arial;
  font-weight: normal;
}
