body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.header {
  background-color: white;
  text-align: left;
  vertical-align: central;
}

.logo {
  font-family: 'Bell MT';
  font-size: 16pt;
  font-weight: bold;
  color: goldenrod;
}

.links {
  font-family: 'Agency FB';
  font-size: 14pt;
  font-weight: normal;
  color: darkblue;
}

.address {
  font-family: 'Times New Roman';
  font-size: 10pt;
  font-weight: normal;
  color: #D0D0D0;
}

.patientHistory {
  display: none;
}

.paragraph {
  text-align: center;
  font-family: 'Times New Roman';
  font-weight: bold;
  color: darkcyan;
}

.physiciansTable {
  border-collapse: separate;
  padding: 15px;
  font-family: 'Calibri';
  font-weight: bolder;
  color: black;
}

.physiciansTable td {
  padding: 7px;
  width: 33%;
}

.physiciansTable td p {
  text-align: center;
  font-family: 'Bell MT';
  font-size: large;
  font-weight: bold;
  color: coral;
}

.physiciansTable td div {
  text-align: justify;
  font-family: 'Times New Roman';
  font-weight: bold;
  color: cadetblue;
}


.formTable {
  border-collapse: separate;
  padding: 15px;
  text-align: left;
  font-family: 'Calisto MT';
  font-weight: bold;
  color: black;
}

.formTable td {
  padding: 7px;
  width: 50%;
}

.formTable td label {
  color: black;
}

.formTable td input {
  font-family: Arial;
  font-weight: normal;
}

.formTable td select {
  font-family: Arial;
  font-weight: normal;
}

.formTable td textarea {
  font-family: Arial;
  font-weight: normal;
}
