@{
    ViewBag.Title = "Index";
}

<div class="paragraph">
  <p>
    Here at The Heart Medical Center <sup>TM</sup>, we strive to keep you going long enough to experience all of life’s greatest memories.  Every grandfather wants to be healthy enough to dance with his granddaughter at her wedding.  You want to be here for them, we aim to make that happen for you.  With our trained physicians, we are equipped to provide care for a wide range of ailments.
  </p>
  <p>
    Please take the time to fill out the appointment form and tell us why you are making the appointment so we can properly tend to your needs.  If you’ve never seen us before, we would ask that you fill out a brief questionnaire.  We seek to treat you to the best of our ability, but we must know about any medications you take, your medical history and any allergies you may have.   Medications can have dangerous consequences when taken with other medications.  Please clearly state the brand name of the medication, the generic name, the quantity per dose and the number of doses per day.  If you wish; as a courtesy, a staff member can type up your list of medications and print it out in wallet size for use by EMT personnel.
  </p>
</div>

<br />
<br />

<img src="~/Content/patient_001.jpg" style="width: 100%; height: auto;" />
<p class="paragraph">This is Peter, he was visiting his grandkids on Long Island when disaster struck.  He suffered a seizure and was unconcious; his daughter Jennine called us and we responded immediately.  Now Jennine and the family are taking an active role in his care.</p>

<br />
<br />
<br />

<table class="physiciansTable">
  <tbody>
    <tr>
      <td><img src="~/Content/doctor11.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor12.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor13.png" style="width: 100%; height: auto;" /></td>
    </tr>
    <tr>
      <td><p>Elizibeth Chen MD</p><div>Our board certified Cardiologist.  She specializes in Cardiogeriatrics; especially Congenital Heart Defect.  She is the author of special computer software that, when combined with our GE CT scanners can quickly diagnose her patients.  Her time is highly sought after.</div></td>
      <td><p>Cynthia Moore MD</p><div>A top-flight surgeon that treats patients suffering from Congenital Heart Defects and Coronary artery Disease.  She and Dr. Chen often coordinate to give our patients the best possible care.  She will see to your individual needs to provide the best possible result.</div></td>
      <td><p>Victor Chang MD</p><div>He graduated from Stony Brook Medical School at the top of his class.  An especially talented pulminologist.  With the aid of modern techology, he can reverse the sands of time on your lungs.  Patients are advised to prepare to quit smoking when scheduling an appointment.</div></td>
    </tr>
    <tr>
      <td><img src="~/Content/doctor21.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor22.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor23.png" style="width: 100%; height: auto;" /></td>
    </tr>
    <tr>
      <td><p>Peter Smith MD</p><div>Our resident Oncologist, he has teated many patients over the years.  Colon cancer is his primary focus, because it took his father's life, he has vowed to combat it and save the lives of his patients.  We will perform a priliminary scan for polyps using our GE equipment.</div></td>
      <td><p>Lisa Clarke MD</p><div>The chief Radiologist, she works alongside Doctors Chen and Smith to acurately diagnose and treat the patients illnesses.  She commands the fleet of GE Medical Imaging Systems and the Kodak CareStream PACS that the facility has purchased.</div></td>
      <td><p>Kristin Harris RN</p><div>She is one of the best nurses in the state.  She takes great pride in saving the lives of her patients and is constantly up on the latest techniques.  She was an Army medic of ten years and proudly served the nation saving the lives of her comrades.  The facility is better for her service.</div></td>
    </tr>
  </tbody>
</table>