@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="paragraph">
  <p>
    Here at The Heart Medical Center <sup>TM</sup>, we strive to keep you going long enough to experience all of Life’s greatest memories.  Every grandfather wants to be healthy enough to dance with his Granddaughter at her wedding.  You want to be here for them, we aim to please.  With our trained physicians, we are equipped to provide care for a wide range of ailments.
  </p>
  <p>
    Please take the time to fill out the appointment form and tell us why you are making the appointment so we can properly tend to your needs.  If you’ve never seen us before, we would ask that you fill out a brief questionnaire.  We seek to treat you to the best of our ability, but we must know about any medications you take, your medical history and any allergies you may have.   Medications can have dangerous consequences when taken with other medications.  Please clearly state the brand name of the medication, the generic name, the quantity per dose and the number of doses per day.  If you wish; as a courtesy, a staff member can type up your list of medications and print it out in wallet size for use by EMT personnel.
  </p>
</div>

<br />
<br />

<img id="myImage" src="~/Content/wedding.png" style="width: 100%; height: auto;" />

<br />
<br />
<br />

<table class="physiciansTable">
  <tbody>
    <tr>
      <td><img src="~/Content/doctor11.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor12.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor13.png" style="width: 100%; height: auto;" /></td>
    </tr>
    <tr>
      <td><p>Elizibeth Chen MD</p><div>Our board certified Cardiologist.  She specializes in Cardiogeriatrics; especially Congenital Heart Defect.  She is the author of special computer software that, when combined with our GE CT scanners can quickly diagnose her patients.  Her time is highly sought after.</div></td>
      <td><p>Cynthia Moore MD</p><div>A top-flight surgeon that treats patients suffering from Congenital Heart Defects and Coronary artery Disease.  She and Dr. Chen often coordinate to give our patients the best possible care.  She will see to your individual needs to provide the best possible result.</div></td>
      <td><p>Benjamin Franklin Chang MD</p><div>He graduated from Greendale Medical School at the top of his class.  An especially talented pulminologist.  With the aid of modern techology, he can reverse the sands of time on your lungs.  Patients are advised to prepare to quit smoking when scheduling an appointment.</div></td>
    </tr>
    <tr>
      <td><img src="~/Content/doctor21.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor22.png" style="width: 100%; height: auto;" /></td>
      <td><img src="~/Content/doctor23.png" style="width: 100%; height: auto;" /></td>
    </tr>
    <tr>
      <td><p>Peter Smith MD</p><div>Our resident Oncologist, he has teated many patients over the years.  Cancer of the colon is his primary focus, because it took his father's life, he has vowed to combat it and save the lives of his patients.  We will perform a priliminary scan for polyps using our GE equipment.</div></td>
      <td><p>Lisa Clarke MD</p><div>The chief Radiologist, she works alongside Dr. Elizabeth Chen and Peter Smith to acurately diagnose and treat the patient's illness.  She commands the fleet of GE Medical Imaging Systems that the facility has purchased.  Along with the Kodak CareStream PACS.</div></td>
      <td><p>Sarah Connors RN</p><div>He graduated from Greendale Medical School at the top of his class.  An especially talented pulminologist.  With the aid of modern techology, he can reverse the sands of time on your lungs.  Patients are advised to prepare to quit smoking when scheduling an appointment.</div></td>
    </tr>
  </tbody>
</table>