@{
  ViewBag.Title = "Physicians";
}

<h2>Phsycians</h2>

<table>
  <tr>
    <td><img src="~/Content/doctor11.png" width="426"  /></td>
    <td>
      <p>Elizibeth Chen</p>
      <p></p>
    </td>
  </tr>
  <tr>
    <td><img src="~/Content/doctor12.png" /></td>
    <td>
      <p>Elizibeth Chen</p>
      <p></p>
    </td>
  </tr>
  <tr>
    <td><img src="~/Content/doctor13.png" /></td>
    <td>
      <p>Elizibeth Chen</p>
      <p></p>
    </td>
  </tr>
  <tr>
    <td><img src="~/Content/doctor21.png" /></td>
    <td>
      <p>Elizibeth Chen</p>
      <p></p>
    </td>
  </tr>
  <tr>
    <td><img src="~/Content/doctor22.png" /></td>
    <td>
      <p>Elizibeth Chen</p>
      <p></p>
    </td>
  </tr>
</table>
<tr>
  <td><img src="~/Content/doctor23.png" /></td>
  <td>
    <p>Elizibeth Chen</p>
    <p></p>
  </td>
</tr>
</table>