<?xml version="1.0"?>

<menu>
  <entry id="Home" caption="Home" target="#" />
  <entry id="Products" caption="Products" target="#">
    <entry id="ProductsWidgets" caption="Widgets" target="#">
      <entry id="ProductsWidgets1" caption="Widget 1" target="#" />
      <entry id="ProductsWidgets2" caption="Widget 2" target="#" />
    </entry>      
    <entry id="ProductsGizmos" caption="Gizmos" target="#">
      <entry id="ProductsGizmos1" caption="Gizmo 1" target="#" />
      <entry id="ProductsGizmos2" caption="Gizmo 2" target="#" />
      <entry id="ProductsGizmos3" caption="Gizmo 2" target="#" />
    </entry>
  </entry>
  <entry id="About" caption="About" target="#">
    <entry id="AboutLocation" caption="Location" target="#" />
    <entry id="AboutContact" caption="Contact Us" target="#" />
    <entry id="AboutSupport" caption="Customer Support" target="#" />
  </entry>
</menu>